* {
    box-sizing: border-box;
}

.decor {
    position: relative;
    max-width: 600px;
    margin: 0 auto 0;
    background: #f69a73;
}

.form_inner {
    padding: 50px;
}

.form_inner input {
    display: block;
    width: 100%;
    padding: 0 20px;
    margin-bottom: 10px;
    background: #E9EFF6;
    line-height: 40px;
    border-width: 0;
    border-radius: 20px;
    
}

.form_inner button {
    cursor: pointer;
    margin-top: 30px;
    border-bottom: 4px solid #d87d56;
    color: black;
    font-size: 20px;
    display: block;
    width: 100%;
    padding: 0 20px;
    margin-bottom: 10px;
    background: #E9EFF6;
    line-height: 40px;
    border-width: 0;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
}


