* {
    box-sizing: border-box;
}

.decor {
    box-shadow: 0px 1px 2px 0px rgba(0, 255, 255, 0.942),
            1px 2px 4px 0px rgba(0, 255, 255, 0.952),
            2px 4px 8px 0px rgba(0, 255, 255, 0.939),
            2px 4px 16px 0px rgba(0, 255, 255, 0.955);
    position: relative;
    max-width: 600px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    background: #2f1003;
}

.form_inner {
    padding: 50px;
}

.form_inner input,
.form_inner textarea {
    display: block;
    width: 100%;
    padding: 0 20px;
    margin-bottom: 10px;
    background: #E9EFF6;
    line-height: 40px;
    border-width: 0;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
}

.form_inner button {
    cursor: pointer;
    margin-top: 30px;
    border-bottom: 4px solid #d87d56;
    color: black;
    font-size: 20px;
    display: block;
    width: 100%;
    padding: 0 20px;
    margin-bottom: 10px;
    background: #E9EFF6;
    line-height: 40px;
    border-width: 0;
    border-radius: 20px;
    
}

.form_inner {
    resize: none;
}

.form_inner h3 {
    margin-top: 0;
    
    font-weight: 500;
    font-size: 24px;
    color: #707981;
}